* {
    color: white;
    font-size: 1.2vw;
    font-family: Monaco, "LUcida Console", monospace;
}

body {
    margin: 0px;
}

.first_half {
    background-color: #1F2937;
    height: 30%;
}

nav {
    flex-shrink: 1;
    padding-top: 2%;
    margin-right: 2em;
    margin-bottom: 5em;
}

nav ul {
    margin-top: 2em;
    list-style-type: none;
    display: flex;
    margin: 0 -10px;
}

nav li {
    margin: 0 10px;
    margin-left: 2%;
}
.first_half .logo {
    margin-right: auto;
    color: red;
}

.profile_image img {
    flex-shrink: 1;
    max-width: 10rem;
    flex: 1;
    border-radius: 50%;
    border: 0.3vw solid white;
}

.description {
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
    margin: 5em;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    flex-direction: row;
}

.gallery img {
    max-width: 23%;
    max-height: 30%;
    padding: 5px;
}

@media (max-width: 1300px) {
    * {
        font-size: 1.7vw;
    }
    .gallery img {
        max-width: 30%;
        max-height: 30%;
    }
}

@media (max-width: 800px) {
    * {
        font-size: 3vw;
    }
    .description {
        flex-direction: column;
    }
    .gallery img {
        max-width: 45%;
        max-height: 45%;
    }
}



.description .intro {
    flex: 1;
    padding: 10px;
    margin-left: 3em;
    flex-shrink: 1 ;
}

body div .gallery {
    background-color: gray;
}

.gallery {
    display: flexbox;
    object-fit:fill;
    align-items:center;
    justify-content:space-around;
    margin-top: 2em;
    margin-right: 0px;
    margin-left: 2em;

}