* {
    color: white;
    font-size: 30px;
    font-family: Monaco, "LUcida Console", monospace;
}

body {
    margin: 0px;
}

.first_half {
    background-color: #1F2937;
}

nav {
    margin-right: 5em;
    margin-bottom: 5em;
}

nav ul {
    margin-top: 2em;
    list-style-type: none;
    display: flex;
    margin: 0 -10px;
}

nav li {
    margin: 0 10px;
    margin-left: 2em;
}

.logo {
    margin-right: auto;
}

.profile_image img {
    max-width: 350px;
    flex: 1;
    border-radius: 50%;
}

.description {
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
    margin: 5em;
    justify-content: center;
    align-items: center;
}

.description .intro {
    flex: 1;
    padding: 10px;
    margin-left: 3em;
}