* {
    color: white;
    font-size: 1.7vw;
    font-family: Monaco, "LUcida Console", monospace;
}

body {
    margin: 0px;
}

.first_half {
    background-color: #1F2937;
    height: 30%;
}

nav {
    flex-shrink: 1;
    padding-top: 2%;
    margin-right: 5em;
    margin-bottom: 5em;
}

nav ul {
    margin-top: 2em;
    list-style-type: none;
    display: flex;
    margin: 0 -10px;
}

nav li {
    margin: 0 10px;
    margin-left: 2%;
}

.logo {
    margin-right: auto;
}

.profile_image img {
    flex-shrink: 1;
    max-width: 10rem;
    flex: 1;
    border-radius: 50%;
    border: 0.3vw solid white;
}

.description {
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
    margin: 5em;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    flex-direction: row;
}

@media (max-width: 400px) {
    .description {
        flex-direction: column;
    }

    .gallery img {
        width: 50%;
        height: auto;
    }
}



.description .intro {
    flex: 1;
    padding: 10px;
    margin-left: 3em;
    flex-shrink: 1 ;
}

body div .gallery {
    background-color: gray;
}

.gallery {
    display: flexbox;
    align-items:flex-start;
    justify-content: space-between;
    margin: 3em;
}

.gallery img {
    max-width: 30%;
    max-height: 30%;
    padding: 5px;
}