* {
    color: white;
    font-size: 20px;
    font-family: Monaco, "LUcida Console", monospace;
}

.first_half {
    background-color: #1F2937;
}

nav {
    margin-right: 5em;
    margin-bottom: 5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 -10px;
    
}

nav li {
    margin: 0 10px;
    margin-left: 2em;
}

.logo {
    margin-right: auto;
}

.profile_image img {
    max-width: 200px;
    flex: 1;
}

.description {
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding: 10px;
    margin: 5em;
}

.description .intro {
    flex: 1;
    padding: 10px;
}